body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

    * {margin:0}
      header { background-color: rgb(235, 122, 122); text-align: center;}
      h1 { padding: .5rem; }
      
      .hamburger { display: block;position: absolute;top: 2.0rem;right: 1.25rem; }
      
      .navigation { list-style: none; padding-left: 0; }
      .navigation li { display: none; }
      
      /* When the responsive class is added to the unordered list on hamburger button click 
      placed in a media query in order to accomodate the toggle when in wider view*/
      @media only screen and (max-width: 37.5em) {
          .responsive { position: relative; }
          .responsive li { background-color: rgb(160, 15, 15);    display: block; width: 100%; margin: 2px 0; border: 1px solid #ddd; }
          .responsive li a {  padding: 1rem; text-align: center;  display: block; text-decoration:none; }
          .responsive li a:hover { background-color: rgb(82, 151, 184); }
      }
      
{ 
          content: "";
          position: absolute;
          right: 1.5rem; top: 1.8rem;
          display: block;
          width: 1.25rem; height: 0;
          -webkit-box-shadow: 1px 10px 1px 1px #eee,1px 16px 1px 1px #eee,1px 22px 1px 1px #eee;
          box-shadow: 0 10px 0 1px #eee,0 16px 0 1px #eee,0 22px 0 1px #eee;
      }
      
      
      @media only screen and (min-width: 37.5em) {
          header, nav {   margin: 0 auto; max-width: 600px;   }
          h1 { text-align: center; }
          .hamburger { display: none; }
          .navigation {   background-color: #333; overflow: hidden;   text-align: center; }
          .navigation li { display: inline-block; margin-left: .25rem; }
          .navigation a { display: block; color: #eee;    padding: .5rem; text-align: center; text-decoration: none;}
          .navigation a:hover {   color: rgb(219, 57, 57); background-color: rgb(56, 65, 10);    }
      }



header {

background-color: rgba(245, 66, 11, 0.5);
text-align: center;
padding: .5rem;
color: #d6ec10;
}

header > img {

    width: 100px;
    height: auto;
    vertical-align: middle;

}

.headertext{
    display: inline-block;
    vertical-align: middle;
}

.headertex h1{

    font-size: 3rem;
}
.subheading {
    font-size: 1.1rem;
    color: rgb(233, 105, 19);
    font-style: Ubuntu;
}

.currentconditions {

    display: inline-block;
    height: auto;
    margin: 1rem 0 1rem 5rem;
        padding: 1.2rem;
        vertical-align: middle;
        color: rgb(240, 174, 51);
        background-color: rgba(218, 163, 81, 0.75);
        border: 1pt solid #e9512c;
        font-size: 2.1rem;
}

.currentconditions img {

    width:  100%;
    height: 100%;
    align-content: auto;
}



.headertext h3 { 

    font-size: 5rem;
    font-style: Ubuntu

}

table {

    border-collapse: collapse;
    width: 100%;

}

th, td {

        text-align: left;   
        padding: 8xp;
}

tr:nth-child(even){background-color: #e90606}

th {
    background-color: rgb(255, 7, 7);
    color: white;
}
