/* || general styles */
* { background-color: lightblue;}

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 800px;
  margin: 2 auto;
}

h1, h2 {
  font-family: 'Comics', cursive;
}

/* header styles */

h1 {
  font-size: 5rem;
  text-align: center;
  font-color: #FFA500;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section article {
  width: 30%;
  float: left;
}

section p {
  margin: 6px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
